.bg-container {
  background-image: linear-gradient(to right, #defafe, #cffcf1);
  min-height: 100vh;
  padding: 60px;
}
.digital-timer-heading {
  text-align: center;
  font-size: 30px;
  font-family: 'Roboto';
}
.timer-card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
}
@media (min-width: 768px) {
  .timer-card {
    flex-direction: row;
  }
}
.timer-bg-container {
  background-image: url('https://assets.ccbp.in/frontend/react-js/digital-timer-elapsed-bg.png');
  background-size: cover;
  background-position: center;
  width: 100vw;
  height: 400px;
  display: flex;
  justify-content: center;
  align-items: center;
}
@media (min-width: 768px) {
  .timer-bg-container {
    width: 400px;
  }
}
.timer-container {
  background-color: #ffffff;
  width: 120px;
  height: 120px;
  border-radius: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.timer {
  font-size: 35px;
  font-weight: 500;
  color: #00d9f5;
  margin-bottom: 0px;
}
.timer-status {
  font-size: 16px;
  font-weight: 600;
  font-family: 'Roboto';
  color: #0f172a;
  margin-top: 0px;
}
.timer-options-card {
  display: flex;
  flex-direction: column;
  align-items: center;
}
@media (min-width: 768px) {
  .timer-options-card {
    width: 400px;
  }
}
.buttons-card {
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.button {
  border-width: 0px;
  background-color: transparent;
  cursor: pointer;
  outline: none;
  font-size: 30px;
  font-family: 'Roboto';
  font-weight: 600;
  display: flex;
  align-items: center;
}
.button-para {
  font-size: 30px;
  font-family: 'Roboto';
  font-weight: 600;
}
.button-image {
  height: 35px;
}
.instruction-para {
  text-align: center;
  font-size: 18px;
  font-weight: 500;
  font-family: 'Roboto';
  margin-top: 30px;
  margin-bottom: 0px;
  padding-bottom: 0px;
}
.increase-decrease-timer-card {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 200px;
  height: 60px;
  margin-top: 0px;
  padding-top: 0px;
}
.timer-limit {
  background-image: linear-gradient(to right, #cffcf1, #00d9f5);
  width: 100px;
  height: 40px;
  font-size: 30px;
  font-weight: 500;
  text-align: center;
  border-radius: 5px;
}
